// Style links with underline instead of blue color 
a {
  color: inherit;
  text-decoration: underline;

  &:hover{
    text-decoration: underline;
  }
}

// Remove underline from site title link 
.link-title {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

//Remove border below h1 and h2 headings
.markdown-body {
  h1,
  h2 {
    padding-bottom: 0em;
    border-bottom: none;
  }
}

// Container between Primer's small and medium widths
.container-custom {
  max-width: round(($width-sm + $width-md) / 2);
  margin-left: auto;
  margin-right: auto;
}

//Place image alongside text on large screens and above text on
// small screens
.profile-photo {
  float: right;
  margin: 0px 0px 10px 10px;
}
@media only screen and (max-width: $width-sm) {
  .profile-photo {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
